.drones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 80px;
}

.drone1 {
  grid-column: 1;
}

.drone2 {
  grid-column: 5;
}

.drone3 {
  grid-column: 7;
}

.infos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 10px 20px;
  background-color: #1b8d99;
  height: 96px;
  width: 100%;
}
.infos span{
  color: white;
  font-size: 14px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 70px 10px 80px;
}

.logo_dronesnet{
  width: 123px;
  height: 28px;
}

.foto_prof{
  margin-bottom: 20px;
}

.prof_name{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 26px; 
  background-color: #660000;
}

.prof_name p{
  color: white;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 100px;
}