.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.service {
    height: 350px;
    max-width: 300px;
    border-width: 2px;
    border-style: solid;
    max-width: 300px;
    border-bottom: 8px solid;
}

.service-img {
    margin: 0px;
}

.service > .showcase {
    height: 100%;
    overflow: hidden;
}

.service > .showcase > h3 {
    text-align: left;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.service > .showcase > h3 {
    padding: 10px 0px 30px 5px;
    font-size: 17px;
}

.service > .showcase > p {
    text-align: justify;
    color: var(--terciaria);
    font-size: 13px;
    margin: 0px 10px;
}

.service:nth-child(odd) .showcase > h3 {
    color: var(--terciaria);
}

.service:nth-child(odd) {
    border-color: var(--terciaria);
}

.service:nth-child(even) .showcase > h3 {
    color: var(--primaria);
}

.service:nth-child(even) {
    border-color: var(--secundaria);
}

.service:nth-child(even) .showcase > p {
    color: var(--primaria);
}
