.titulo {
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: monospace, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #660000;
  margin-left: 460px;
}

hr{
  margin-left: 440px;
  width: 890px;
  border: 1px solid #660000;

}

.imagem-titulo {
  margin-left: 1320px;
  margin-top: -70px;
}

.produtos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagens{
  display: flex;
  gap:40px
}

.produtos h3{
  margin: 0 auto;
  text-align: center;
  font-weight: 5;
  font-family: Tahoma, Verdana, sans-serif;
}

.produtos p{
  font-family:Tahoma, Verdana, sans-serif;
  font-size: 13px;
}

.produtoA{
  border: 2px solid #12cfe091;
  width: 300px;
  height: 280px;
}

.produtoA h3{
  background-color: #12cfe04b;
  color: #1b8e99;
  margin: 2px 4px 0px 4px;
}

.produtoA p{
  color: #1b8e99;
  margin-left: 15px;
}

.produtoB{
  border: 2px solid #660000;
  width: 300px;
  height: 280px;
}

.produtoB h3{
  background-color: #6600005b;
  color: #660000;
  margin: 2px 4px 0px 4px;
}

.produtoB p{
  color: #660000;
  margin-left: 15px;
}



